/* banner */
.banner {
  padding-top: 130px;

  &-wrapper {
    display: flex;
    gap: 100px;
  }
  &-text {
    margin-top: 90px;
    max-width: 550px;

    &-paragraph {
      margin-top: 40px;
      max-width: 550px;
    }
    &-button {
      margin-top: 60px;
    }
  }

  &-image {
    width: 500px;
    max-width: 500px;
  }
}
