/* banner */
.banner-section {
  padding-top: 130px;

  .banner {
    display: flex;
    gap: 100px;

    .banner-text {
      margin-top: 90px;
      max-width: 550px;

      .banner-paragraph {
        margin-top: 40px;
        max-width: 550px;
      }
      .banner-button {
        margin-top: 60px;
      }
    }

    .banner-image {
      width: 500px;
      max-width: 500px;
    }
  }
}
